# source this file in Bash v >=4

typeset -A errMsgIdx
erridx=0
errors=()

add_error() {
  local CODE=$1 MSG="$2"
  errors+=( "$MSG" )
  errMsgIdx[$CODE]=$((erridx++))
)

die() {
  local n=${errMsgIdx[$1]}
  [ -n "$n" ] && [ $n -gt 0 ] || \
    { 
    echo "dying on no particular error" >&2 ; exit 127
    }
  echo $1 "- ${errors[$n]}" >&2 ; exit ${erridx[$1]}
}

add_error BAD_OPTION     "Error in program option or argument"  # 1
add_error NO_IRODS_USER  "No irods user - pls install server"   # 2
